@font-face {
    font-family: 'castledownbold';
    src: url('castledown_bold-webfont.woff2') format('woff2'), url('castledown_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'castledownregular';
    src: url('castledown-regular-webfont.woff2') format('woff2'), url('castledown-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    padding-top: 84px;
    padding-bottom: 20px;
    font-family: 'castledownregular', Arial Rounded MT, Arial, sans-serif;
}

h1 {
    color: rgb(255, 220, 25);
    font-family: 'castledownbold', Arial Rounded MT, Arial, sans-serif;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar {
    background-color: #8A73B4;
    height: 84px;
}

.navbar-inverse {
    border-color: #765da3;
}

.jumbotron {
    background-color: #00b9dc;
    color: rgb(255, 220, 25);
}

.panel-heading {
    font-family: 'castledownbold', Arial Rounded MT, Arial, sans-serif;
}

.btn {
    background-color: #F79433;
    border-color: #F79433;
    color: white;
    font-family: 'castledownbold', Arial Rounded MT, Arial, sans-serif;
}

iframe {
    background: #fff;
    height: 600px;
    width: 360px;
    /*position: fixed;
    bottom: 0;
    right: 2%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5)*/
}
