@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Two examples</h2>
        <p>This example shows use of the <a href="https://www.microsoft.com/cognitive-services/en-us/computer-vision-api">Microsoft Cognitive Services Computer Vision API</a> to generate a high quality storage-efficient thumbnail based on any input image. Use thumbnail generation to modify images to best suit your needs for size, shape and style. Apply smart cropping to generate thumbnails that differ from the aspect ratio of your original image, yet preserve the region of interest. </p>
        <p>The API takes input from a request body in either json or octet stream formats. In json format, you pass some json which contains the url of a file to be analysed. In octet-stream format, you pass the file itself in the body of the request. This example shows both techniques</p>
        <p>You can find the corresponding actions in the Home controller</p>
        <ul>
            <li><a href="/home/URLExample">JSON / URL example</a>. This passes a url for an image on the Coginitive Services home page</li>
            <li><a href="/home/FileExample">OCTET-STREAM / File example</a>. This allows the user to upload a file to be analysed.</li>
        </ul>
    </div>
</div>