<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-horizontal">
        <div class="form-group">
            <input type="file" name="file" id="file" class="form-control">
        </div>
        <div class="form-group">
            <input type="submit" value="Upload" class="btn btn-default" />
        </div>
    </div>
</form>
<hr />
@ViewData["Result"]

