@model PersonGroupSample.Models.PersonGroup

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>PersonGroup</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="personGroupId" class="control-label"></label>
                <input asp-for="personGroupId" class="form-control" />
                <span asp-validation-for="personGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userData" class="control-label"></label>
                <input asp-for="userData" class="form-control" />
                <span asp-validation-for="userData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
