@model PersonGroupSample.Models.PersonGroupTrainingStatus

@{
    ViewData["Title"] = "Train";
}

<h2>Train</h2>

<h3>Are you sure you want to train this?</h3>
<div>
    <h4>Current Training Status</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.createdDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.createdDateTime)
        </dd>
    </dl>
    
    <form asp-action="Train">
        <input type="submit" value="Train" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
