
<div class="row">

    <div class="col-md-12">

        <ul>

            <li><a href="/home/FileExample">OCTET-STREAM / File example</a>. This allows the user to upload a 2 files to be detected and verified</li>

        </ul>

    </div>

</div>